# Copyright (C) 2022 Paranoid Android
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on boot
    chown system system /dev/oplus_display
    chown system system /sys/kernel/oplus_display/dimlayer_bl_en
    chown system system /sys/kernel/oplus_display/dynamic_osc_clock
    chown system system /sys/kernel/oplus_display/hbm
    chown system system /sys/kernel/oplus_display/notify_fppress
    chown system system /sys/kernel/oplus_display/panel_serial_number
    chown system system /sys/kernel/oplus_display/power_status

    # Double Tap Sensor
    chown system system /proc/touchpanel/i2c/double_tap_pressed
    chmod 0660 /proc/touchpanel/i2c/double_tap_pressed

    # Single Tap Sensor
    chown system system /proc/touchpanel/i2c/single_tap_pressed
    chmod 0660 /proc/touchpanel/i2c/single_tap_pressed

on fs
    # Trigger touchpanel firmware update
    write /proc/touchpanel/tp_fw_update 0

# Route touch_sensitivity_mode to persist
on property:debug.touch_polling_mode=0
    setprop persist.vendor.touch_polling_mode 0

on property:debug.touch_polling_mode=1
    setprop persist.vendor.touch_polling_mode 1

# Toggle glove mode.
on property:persist.vendor.touch_polling_mode=0 && property:sys.boot_completed=1
    write /proc/touchpanel/game_switch_enable "0"

on property:persist.vendor.touch_polling_mode=1 && property:sys.boot_completed=1
    write /proc/touchpanel/game_switch_enable "1"
