# Copyright (C) 2021 Paranoid Android
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# OnePlus has some stuff that still isn't unified for their variants.
# Instead of making a seperate target we can put the diff in /odm and overlay it.
on init
    mount overlay overlay /odm/etc/acdbdata lowerdir=/odm/etc/prj_${ro.boot.prj_version}/acdbdata:/odm/etc/acdbdata,context=u:object_r:vendor_file:s0
    mount overlay overlay /vendor/etc/audio lowerdir=/odm/etc/prj_${ro.boot.prj_version}/audio:/vendor/etc/audio,context=u:object_r:vendor_file:s0
    mount overlay overlay /vendor/etc/camera lowerdir=/odm/etc/prj_${ro.boot.prj_version}/camera:/vendor/etc/camera,context=u:object_r:vendor_file:s0
    mount overlay overlay /vendor/etc/sensors lowerdir=/odm/etc/prj_${ro.boot.prj_version}/sensors:/vendor/etc/sensors,context=u:object_r:vendor_file:s0
    mount overlay overlay /vendor/firmware lowerdir=/odm/firmware/prj_${ro.boot.prj_version}:/vendor/firmware,context=u:object_r:vendor_file:s0
    mount overlay overlay /vendor/lib64 lowerdir=/odm/lib64/prj_${ro.boot.prj_version}:/vendor/lib64,context=u:object_r:vendor_file:s0
