# Copyright (C) 2021 Paranoid Android
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on fs
    chmod 0666 /sys/class/leds/vibrator/ignore_store
    chown system system /sys/class/leds/vibrator/ignore_store
    chmod 0666 /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/duration
    chmod 0666 /sys/class/leds/vibrator/vmax
    chown system system /sys/class/leds/vibrator/vmax
    chmod 0666 /sys/class/leds/vibrator/gain
    chown system system /sys/class/leds/vibrator/gain
    chmod 0666 /sys/class/leds/vibrator/seq
    chown system system /sys/class/leds/vibrator/seq
    chmod 0666 /sys/class/leds/vibrator/loop
    chown system system /sys/class/leds/vibrator/loop
    chmod 0666 /sys/class/leds/vibrator/brightness
    chown system system /sys/class/leds/vibrator/brightness

    chmod 660 /sys/class/leds/vibrator/rtp
    chown system audio /sys/class/leds/vibrator/rtp
