# Copyright (C) 2021 Paranoid Android
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on boot
    # AOD
    chmod 0666 /sys/class/drm/card0-DSI-1/aod
    chown system system /sys/class/drm/card0-DSI-1/aod

    # Backlight
    chmod 0666 /sys/class/backlight/panel0-backlight/brightness

    # Dimming
    chmod 0666 /sys/class/drm/card0-DSI-1/notify_dim
    chown system system /sys/class/drm/card0-DSI-1/notify_dim

    # HBM
    chmod 0666 /sys/class/drm/card0-DSI-1/hbm_brightness
    chown system system /sys/class/drm/card0-DSI-1/hbm_brightness
    chmod 0666 /sys/class/drm/card0-DSI-1/hbm
    chown system system /sys/class/drm/card0-DSI-1/hbm

# Set sRGB calibration on Natural and Boosted Mode.
on property:persist.sys.sf.native_mode=0
    write /sys/class/drm/card0-DSI-1/native_display_p3_mode 0
    write /sys/class/drm/card0-DSI-1/native_display_srgb_color_mode 1

# Set unmanaged calibration on Saturated Mode.
on property:persist.sys.sf.native_mode=1
    write /sys/class/drm/card0-DSI-1/native_display_srgb_color_mode 0
    write /sys/class/drm/card0-DSI-1/native_display_p3_mode 0

# Set P3 calibration on Adaptive/Automatic Mode.
on property:persist.sys.sf.native_mode=2
    write /sys/class/drm/card0-DSI-1/native_display_srgb_color_mode 0
    write /sys/class/drm/card0-DSI-1/native_display_p3_mode 1
